In [2]:
using Random

bitHDV(N::Int=10000) = bitrand(N)

function bitadd(vectors::BitVector ...)
    v = reduce(.+, vectors)
    n = length(vectors) / 2
    x = [i > n ? 1 : i < n ? 0 : rand(0:1) for i in v]
    return convert(BitVector, x)
end

bitbind(vectors::BitVector ...) =  reduce(.⊻, vectors)

bitperm(vector::BitVector, k::Int=1) = circshift(vector, k)

hamming(x::BitVector, y::BitVector) = sum(x .!= y)/length(x)

hamming (generic function with 1 method)

In [3]:
using DataFrames, CSV

In [4]:
data = CSV.read("zoo.csv", DataFrame)

101×18 DataFrame
 Row │ animal_name  hair   feathers  eggs   milk   airborne  aquatic  predator ⋯
     │ String15     Int64  Int64     Int64  Int64  Int64     Int64    Int64    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ aardvark         1         0      0      1         0        0         1 ⋯
   2 │ antelope         1         0      0      1         0        0         0
   3 │ bass             0         0      1      0         0        1         1
   4 │ bear             1         0      0      1         0        0         1
   5 │ boar             1         0      0      1         0        0         1 ⋯
   6 │ buffalo          1         0      0      1         0        0         0
   7 │ calf             1         0      0      1         0        0         0
   8 │ carp             0         0      1      0         0        1         0
   9 │ catfish          0         0      1      0         0        1         1 ⋯
  10 │ cavy             1         0      0      1         0        0         0
  11 │ cheetah          1         0      0      1         0        0         1
  ⋮  │      ⋮         ⋮       ⋮        ⋮      ⋮       ⋮         ⋮        ⋮     ⋱
  92 │ tuatara          0         0      1      0         0        0         1
  93 │ tuna             0         0      1      0         0        1         1 ⋯
  94 │ vampire          1         0      0      1         1        0         0
  95 │ vole             1         0      0      1         0        0         0
  96 │ vulture          0         1      1      0         1        0         1
  97 │ wallaby          1         0      0      1         0        0         0 ⋯
  98 │ wasp             1         0      1      0         1        0         0
  99 │ wolf             1         0      0      1         0        0         1
 100 │ worm             0         0      1      0         0        0         0
 101 │ wren             0         1      1      0         1        0         0 ⋯
                                                  10 columns and 80 rows omitted

In [8]:
class_data = CSV.read("class.csv", DataFrame)

7×4 DataFrame
 Row │ Class_Number  Number_Of_Animal_Species_In_Class  Class_Type    Animal_N ⋯
     │ Int64         Int64                              String15      String   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │            1                                 41  Mammal        aardvark ⋯
   2 │            2                                 20  Bird          chicken,
   3 │            3                                  5  Reptile       pitviper
   4 │            4                                 13  Fish          bass, ca
   5 │            5                                  4  Amphibian     frog, fr ⋯
   6 │            6                                  8  Bug           flea, gn
   7 │            7                                 10  Invertebrate  clam, cr
                                                                1 column omitted

In [6]:
feature_hdv=[bitHDV() for i in 1:17]

17-element Vector{BitVector}:
 [1, 0, 0, 1, 1, 1, 0, 1, 1, 1  …  1, 0, 1, 0, 1, 1, 1, 0, 0, 1]
 [0, 1, 1, 1, 1, 0, 0, 1, 0, 0  …  1, 1, 0, 0, 1, 1, 1, 0, 0, 0]
 [0, 0, 1, 0, 1, 1, 0, 1, 1, 1  …  1, 1, 1, 1, 0, 0, 0, 1, 0, 0]
 [1, 0, 0, 0, 1, 0, 1, 0, 1, 0  …  1, 1, 1, 1, 1, 0, 1, 0, 0, 0]
 [1, 1, 0, 1, 1, 1, 0, 0, 0, 1  …  1, 0, 1, 1, 1, 0, 1, 1, 0, 0]
 [0, 1, 1, 1, 1, 1, 0, 1, 1, 1  …  1, 1, 1, 1, 0, 1, 0, 0, 0, 0]
 [0, 0, 1, 0, 0, 1, 0, 0, 0, 1  …  0, 0, 1, 1, 1, 0, 1, 1, 1, 1]
 [0, 1, 0, 0, 1, 0, 0, 1, 1, 0  …  0, 1, 1, 1, 0, 1, 0, 0, 1, 0]
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 1  …  1, 1, 1, 0, 0, 0, 1, 1, 0, 0]
 [1, 1, 1, 0, 1, 0, 1, 0, 1, 1  …  1, 1, 1, 1, 0, 0, 0, 1, 1, 0]
 [0, 1, 1, 1, 1, 1, 1, 0, 1, 1  …  1, 1, 0, 0, 0, 0, 1, 1, 0, 1]
 [1, 0, 1, 0, 0, 1, 1, 1, 1, 1  …  1, 1, 0, 0, 1, 1, 0, 0, 0, 1]
 [0, 0, 1, 1, 1, 1, 0, 0, 0, 0  …  1, 0, 1, 1, 1, 0, 0, 1, 1, 0]
 [0, 0, 1, 0, 1, 0, 1, 1, 1, 1  …  0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
 [1, 1, 0, 1, 0, 1, 1, 0, 1, 0  …  1, 1, 0, 1, 0, 0, 1, 0, 0, 0]
 [1, 1, 1, 1, 1, 0, 1, 1, 1, 1  …  1, 0, 1, 0, 0, 1, 0, 1, 0, 0]
 [1, 0, 0, 1, 1, 0, 0, 1, 0, 0  …  1, 0, 0, 1, 0, 1, 1, 0, 0, 0]